body { 
    color: black; 
    background-color: #f2f5f7; 
    font-family: Arial, Helvetica, sans-serif; 
} 

.logo { 
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);  
    z-index: 1; 
} 

.logo img { 
    width: 50px;  
    height: auto;  
    margin-top: 13px; 
} 

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    margin: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.opcao {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 15px;
    padding: 5px; 
    border-radius: 5px; 
    background-color: #fff; 
    width: 80%; 
    max-width: 600px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.opcao img {
    width: 100px; 
    height: auto; 
    margin-bottom: none; 
}

.opcao p {
    margin: 10px; 
    text-align: center; 
}

.pagamento span {
    display: block; 
    margin-top: none; 
}

span {
    display: block;
    margin: 5px 0;
    line-height: 0; 
}

@media (min-width: 768px) {
    .pagamento {
        flex-direction: row;
        justify-content: space-around;
    }

    .pagamento .opcao {
        margin: 0 10px; 
    }
}

.container { 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0 auto; 
} 

footer img { 
    width: 40px; 
    height: 40px; 
    border-radius: 80px; 
} 

footer { 
    display: flex; 
    justify-content: center; 
} 

footer a { 
    margin: 30px; 
    text-align: center; 
} 

.navbar { 
    display: flex; 
    justify-content: flex-start; 
    padding: 12px; 
} 

.menu-btn { 
    background-color: transparent; 
    border: none;  
    cursor: pointer; 
    padding: 10px;  
    display: flex;  
    flex-direction: column; 
    justify-content: space-around;  
    width: 40px;  
    height: 40px;  
    transition: transform 0.3s; 
} 

.side-menu { 
    position: fixed; 
    top: 0; 
    right: -300px;  
    width: 250px; 
    height: 100%;  
    background-color: #ffa5aa; 
    padding: 20px; 
    transition: right 0.3s;  
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); 
    z-index: 1000;  
} 

.menu-btn:hover { 
    transform: scale(1.1); 
} 

.bar { 
    width: 30px; 
    height: 4px; 
    background-color: #ffa5aa;  
    border-radius: 2px;  
    transition: all 0.3s; 
} 

.close-btn { 
    background: none; 
    border: none; 
    font-size: 30px; 
    color: white; 
    cursor: pointer; 
    margin-bottom: 20px;  
} 

.side-menu.show { 
    right: 0; 
} 

.menu-options ul { 
    list-style-type: none; 
    padding: 0; 
} 

.menu-options ul li { 
    margin: 10px 0; 
} 

.menu-options ul li a { 
    color: white;  
    text-decoration: none;  
    transition: color 0.3s;  
} 

.menu-options ul li a:hover { 
    color: #ffcccb; 
} 

@media (max-width: 768px) { 
    .navbar { 
        flex-direction: column;  
        align-items: flex-end;  
    } 

    .menu-options { 
        padding: 20px;  
    } 
} 