/* Estilo Global para Inputs, Selects e Textareas */
input, select, textarea {
    display: block; 
    width: 80%; 
    margin: 10px auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main {
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Organiza os filhos em coluna */
    align-items: center; /* Centraliza horizontalmente os filhos */
}

/* Estilo do Título */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px; 
    padding-top: 0;
}

/* Estilo do Formulário de Pedido */
.pedido-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Largura máxima do formulário */
    width: 100%; /* Ajusta a largura para preencher a área disponível */
    margin: 20px auto; /* Centraliza o formulário e adiciona margem vertical */
}

/* Estilo para Fieldset */
fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

/* Estilo do Título do Fieldset */
legend {
    font-weight: bold;
    color: #555;
    padding: 0 10px;
}

/* Estilo para Labels */
label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-top: 10px;
}

/* Estilo para o Botão de Envio */
.submit-btn {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffa5aa; /* Cor do botão */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.submit-btn:hover {
    background-color: #ff8a92; /* Cor do botão ao passar o mouse */
}

/* Estilo para a Exibição das Imagens */
.color-swatch {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 10px; /* Espaçamento abaixo do color-swatch */
}

.color-swatch img {
    margin-right: 10px; /* Espaço entre a imagem e o texto */
    border: 20px solid #ddd; /* Borda ao redor da imagem */
    border-radius: 4px; /* Cantos arredondados */
}

/* Mensagem para Limite de Imagens */
p {
    font-size: 0.9em; /* Tamanho do texto das mensagens */
    color: #777; /* Cor do texto das mensagens */
}

